.btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'ARUAL';
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 6rem 0 6rem 0;
    padding: .7rem 1.5rem .7rem 1.5rem;
    border-radius: 100px;
    background-color: #7fa9c0;
    color: #333;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #72a0b9;
    box-shadow: 0 .3rem .3rem rgb(51, 51, 51, 0.25);
}